$card-border: #2f3146;
$positive-green: #00FFA3;
$negative-red: #ff4d4d;
$background-dark: #14172B;
$value-container-border: #2b2d40;
$value-text: #ECF0FF;
$card-title: #5A5F7D;
$card-asset-name: #737BAE;
$card-curve-border: #282d429e;
$logo-gradient-border: linear-gradient(#282d4200, #282d42);